@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$color1: #68C5C0;
$color2: #4AAAA5;
$color3: #2B2F33;
$color4: #DDE9ED;

@mixin breakpoint($point) {
  @if $point == medium {
    @media (max-width: 992px) { @content; }
  }
  @if $point == small {
    @media (max-width: 768px) { @content; }
  }
}

body {
  	background-color: #ffffff;
  	font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
.row {
	margin:0;
}
/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
	span {
		opacity:0.3;
	}
}



/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

/* Links */
a {
    color: $color1;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: $color2;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
.hrSmall {
    display: block;
    height: 1px;
    width:60px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em auto;
    padding: 0;
}
img {
	max-width:100%;
}
.borderRadius {
	border-radius:500px;
}
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
	border:none;
}

.navbar-inverse {
	padding: 20px 50px;
	@include breakpoint(small) {
	    padding: 20px 20px;
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 30px;
	letter-spacing: 0px;
	text-transform:lowercase;
}

.navbar-inverse .navbar-brand {
	color: white;
}


$marg:30px;
$pad:30px;

.marg {
	margin-top: $marg;
	margin-bottom: $marg;
}

.pad {
	padding-top: $pad;
	padding-bottom: $pad;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px;
	p {
		color: white;
	}
	h4 {
		color: white;
		text-transform: uppercase;
		padding-bottom: 20px;
	}
	.about,.copyright {
		text-align:right;
		@include breakpoint(small) {
		    text-align:center;
		}
	}
	.sayhi {
		text-align:left;
		@include breakpoint(small) {
		    text-align:center;
		}
	}
}
.avatar {
	height: 100px;
	border-radius:100px;
}
.hero {
	background-size: cover;
	background:url('../img/hero.jpg') no-repeat $color2;
	text-align: center;
	color: white;
	height: 500px;
	background-position: 50% 50%;
	@include breakpoint(small) {
		background-position: 15% 0%;
	}
	position:absolute;
	top:80px;
	left:0;
	right:0;
	padding-top:170px;
	@include breakpoint(small) {
	  padding-top:140px;
	}
	overflow:hidden;
	h1,h4 {
		color:white;
		font-weight: 400;
	}
	h1 {
		letter-spacing:2px;
	}
}
.welcome {
	margin-top:500px;
}
.fa {
	margin-right:7px;
}
.social, {
	list-style-type: none;
	color:white;
	font-size:20px;
	margin:0;
	padding:0;
	a {
		color:white;
	}
	li {
		display:inline;
	}
}
.getinTouch {
	background:$color3;
	color:white;
	h1,h2,h3,h4,h5 {
		color:white;
	}
	.btn-empty {
		border-width:1px;
		box-shadow: inset 0px 0px 0px 2px #fff;
	  background: transparent;
	  color: #fff;
	  padding:1em;
	  width:150px;;
	  text-transform:uppercase;
	  border-radius:0;
	  transition: background-color 0.3s ease;
	  &:hover {
	  	color: $color3;
	  	background: #fff;
	  }
	}
	.form-control {
	  display: block;
	  height: 50px;
	  padding: 1em;
	  border-radius: 0px;
	}
}
.prefooter {
	background: $color4;
	@include breakpoint(small) {
	    text-align:center;
	}
}
#example1 ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
p.interact a {
	margin-right:10px;
	border:1px solid;
	padding:.5em;
}
.tweet {
	font-size:16px;
}
.flickr {
	@include breakpoint(small) {
		margin-top:2*$marg;   
	}
}
.flickr_badge_image {
	margin:0px;
	display:inline;
}
.flickr_badge_image img {
	border: 1px solid #666666 !important; 
	width: 30%;
	@include breakpoint(medium) {
		width: 40%;
	}
	@include breakpoint(small) {
		width: 25%;
	}
	height:auto;
	padding:1px; 
	margin:2px;
}
#flickr_badge_wrapper {
	@include breakpoint(small) {
		text-align:center;   
	}
}
.blogPost {
  border-bottom: 1px solid #ccc;
  margin: 4rem auto;
  padding-bottom: 4rem;
  position: relative;
  &:after {
		content: "";
		display: block;

		/* The circle */
		width: 7px;
		height: 7px;
		background: #FFF;
		border: 1px solid #aaa;
		box-shadow: #FFF 0 0 0 10px;
		border-radius: 100%;

		/* Put in the middle of post's border bottom */
		position: absolute;
		bottom: -5px;
		left: 50%;
		margin-left: -5px;
	}
}

/* Icon Styling */
.menuBtn {
  display: block;
  position: absolute;
  top: 50%;
  width: 30px;
  height: 25px;
  margin: -25px/2 0 0 -15px;
}

.menuBtn span,
.menuBtn::before,
.menuBtn::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  right: 0px;
  background: white;
  transition: all .2s ease-in-out;
}

.menuBtn span {
  top: 50%;
  margin-top: -3px;
}

.menuBtn::before,
.menuBtn::after {
  content: "";
}

.menuBtn::before {
  top: 0px;
}

.menuBtn::after {
  bottom: 0px;
}

/* Close state */

/* type1 */
.menuBtn.type1.close span {
  opacity: 0;
}

.menuBtn.type1.close::before {
  top: 10px;
  transform: rotate(45deg);
}

.menuBtn.type1.close::after {
  bottom: 10px;
  transform: rotate(-45deg);
}
.navbar-inverse .navbar-toggle {
  border: 0;
  background:none;
  &:hover {
  	border: 0;
  	background:none;
  }
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border:0;
}