<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <!-- <div class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <a href="#" class="menuBtn type1"><span></span></a>
    </div> -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      {% for page in site.pages %}
        {% if page.title %}
        <li>
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div><!--/.nav-collapse -->
</div>